In [61]:
#Necessary to install keras
!pip install tensorflow

Collecting tensorflow
  Downloading https://files.pythonhosted.org/packages/77/63/a9fa76de8dffe7455304c4ed635be4aa9c0bacef6e0633d87d5f54530c5c/tensorflow-1.13.1-cp36-cp36m-manylinux1_x86_64.whl (92.5MB)
    100% |████████████████████████████████| 92.5MB 49kB/s eta 0:00:011    13% |████▍                           | 12.6MB 4.3MB/s eta 0:00:19    14% |████▌                           | 13.0MB 3.0MB/s eta 0:00:27    67% |█████████████████████▋          | 62.4MB 2.3MB/s eta 0:00:13
Requirement already satisfied: astor>=0.6.0 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorflow) (0.6.2)
Requirement already satisfied: numpy>=1.13.3 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorflow) (1.14.5)
Requirement already satisfied: keras-applications>=1.0.6 in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from tensorflow) (1.0.7)
Requirement already satisfied: absl-py>=0.1.6 in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from tensorflow) (0.7.1)
Requirement already satisfied: wheel>=0.26 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorflow) (0.31.1)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from tensorflow) (1.0.9)
Requirement already satisfied: termcolor>=1.1.0 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: gast>=0.2.0 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio>=1.8.6 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorflow) (1.12.1)
Collecting tensorboard<1.14.0,>=1.13.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/0f/39/bdd75b08a6fba41f098b6cb091b9e8c7a80e1b4d679a581a0ccd17b10373/tensorboard-1.13.1-py3-none-any.whl (3.2MB)
    100% |████████████████████████████████| 3.2MB 1.4MB/s ta 0:00:01
Requirement already satisfied: protobuf>=3.6.1 in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from tensorflow) (3.7.1)
Collecting tensorflow-estimator<1.14.0rc0,>=1.13.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/bb/48/13f49fc3fa0fdf916aa1419013bb8f2ad09674c275b4046d5ee669a46873/tensorflow_estimator-1.13.0-py2.py3-none-any.whl (367kB)
    100% |████████████████████████████████| 368kB 3.6MB/s ta 0:00:01
Requirement already satisfied: six>=1.10.0 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorflow) (1.11.0)
Requirement already satisfied: h5py in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from keras-applications>=1.0.6->tensorflow) (2.7.1)
Requirement already satisfied: werkzeug>=0.11.15 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (0.14.1)
Requirement already satisfied: markdown>=2.6.8 in /home/danielmarx/.local/lib/python3.6/site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (2.6.11)
Requirement already satisfied: setuptools in /home/danielmarx/.local/lib/python3.6/site-packages (from protobuf>=3.6.1->tensorflow) (39.2.0)
Collecting mock>=2.0.0 (from tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/e6/35/f187bdf23be87092bd0f1200d43d23076cee4d0dec109f195173fd3ebc79/mock-2.0.0-py2.py3-none-any.whl (56kB)
    100% |████████████████████████████████| 61kB 1.6MB/s ta 0:00:01
Collecting pbr>=0.11 (from mock>=2.0.0->tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/14/09/12fe9a14237a6b7e0ba3a8d6fcf254bf4b10ec56a0185f73d651145e9222/pbr-5.1.3-py2.py3-none-any.whl (107kB)
    100% |████████████████████████████████| 112kB 3.5MB/s ta 0:00:01
Installing collected packages: tensorboard, pbr, mock, tensorflow-estimator, tensorflow
  Found existing installation: tensorboard 1.8.0
    Uninstalling tensorboard-1.8.0:
      Successfully uninstalled tensorboard-1.8.0
Successfully installed mock-2.0.0 pbr-5.1.3 tensorboard-1.13.1 tensorflow-1.13.1 tensorflow-estimator-1.13.0

In [49]:
#Keras :)
!pip install keras

Collecting keras
  Downloading https://files.pythonhosted.org/packages/5e/10/aa32dad071ce52b5502266b5c659451cfd6ffcbf14e6c8c4f16c0ff5aaab/Keras-2.2.4-py2.py3-none-any.whl (312kB)
    100% |████████████████████████████████| 317kB 1.3MB/s ta 0:00:01
Requirement already satisfied: keras-preprocessing>=1.0.5 in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from keras) (1.0.9)
Requirement already satisfied: six>=1.9.0 in /home/danielmarx/.local/lib/python3.6/site-packages (from keras) (1.11.0)
Requirement already satisfied: keras-applications>=1.0.6 in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from keras) (1.0.7)
Requirement already satisfied: pyyaml in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from keras) (3.12)
Requirement already satisfied: scipy>=0.14 in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from keras) (1.1.0)
Requirement already satisfied: h5py in /home/danielmarx/anaconda3/lib/python3.6/site-packages (from keras) (2.7.1)
Requirement already satisfied: numpy>=1.9.1 in /home/danielmarx/.local/lib/python3.6/site-packages (from keras) (1.14.5)
Installing collected packages: keras
Successfully installed keras-2.2.4

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import HashingVectorizer
#from sklearn.impute import SimpleImputer
from sklearn.preprocessing import Imputer

In [3]:
#Read the data using the Unnamed (probably id) as index
url = 'https://s3.amazonaws.com/drivendata/data/4/public/81e8f2de-9915-4934-b9ae-9705685c9d50.csv'
training = pd.read_csv(url, index_col='Unnamed: 0')

labels = ['Function', 'Object_Type', 'Operating_Status', 'Position_Type', 'Pre_K', 'Reporting', 
          'Sharing', 'Student_Type', 'Use']

numeric = ['FTE', 'Total']

categoric = [ 'Facility_or_Department', 'Function_Description', 
            'Fund_Description', 'Job_Title_Description', 'Location_Description', 
            'Object_Description', 'Position_Extra', 'Program_Description', 'SubFund_Description', 
            'Sub_Object_Description', 
            'Text_1', 'Text_2', 'Text_3', 'Text_4']

## Data cleaning

### Part 1: numeric data
First of all, the numeric columns `FTE` and `Total` must be cleaned. The outliers will be treated as `NaN` values and imputation will be applied to the missing data.

In [4]:
# Remove inconsistent data
training[training['FTE'] < 0] = np.nan
training[training['Total'] < 0] = np.nan

In [5]:
training['FTE'].describe()

count    125849.000000
mean          0.427436
std           0.573810
min           0.000000
25%           0.001078
50%           0.133337
75%           1.000000
max          46.800000
Name: FTE, dtype: float64

In [6]:
training[training['FTE'] < 0]

Empty DataFrame
Columns: [Function, Use, Sharing, Reporting, Student_Type, Position_Type, Object_Type, Pre_K, Operating_Status, Object_Description, Text_2, SubFund_Description, Job_Title_Description, Text_3, Text_4, Sub_Object_Description, Location_Description, FTE, Function_Description, Facility_or_Department, Position_Extra, Total, Program_Description, Fund_Description, Text_1]
Index: []

[0 rows x 25 columns]

In [7]:
training['Total'].describe()

count    3.518450e+05
mean     1.696423e+04
std      3.402292e+05
min      0.000000e+00
25%      1.384847e+02
50%      6.696800e+02
75%      4.999610e+03
max      1.297000e+08
Name: Total, dtype: float64

### Part 2: Categoric data

The strings must be normalized: symbols removed, all letters to lower case. Then, they can be transformed to numeric data.

In [8]:
for category in categoric:
    training[category] = training[category].str.lower()

In [9]:
#Check if the unique values decrease
training[categoric].nunique(dropna=False)

Facility_or_Department     176
Function_Description       655
Fund_Description           141
Job_Title_Description     3455
Location_Description       352
Object_Description         570
Position_Extra             580
Program_Description        418
SubFund_Description        267
Sub_Object_Description     159
Text_1                    1389
Text_2                     279
Text_3                      35
Text_4                     240
dtype: int64

In [18]:
#Convert columns
training[categoric] = training[categoric].apply(lambda x: x.astype('object'), axis = 0)

In [19]:
training[categoric].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400277 entries, 134338 to 415831
Data columns (total 14 columns):
Facility_or_Department    53186 non-null object
Function_Description      298676 non-null object
Fund_Description          179157 non-null object
Job_Title_Description     272317 non-null object
Location_Description      155504 non-null object
Object_Description        332143 non-null object
Position_Extra            244180 non-null object
Program_Description       280943 non-null object
SubFund_Description       263731 non-null object
Sub_Object_Description    70748 non-null object
Text_1                    251891 non-null object
Text_2                    87431 non-null object
Text_3                    108613 non-null object
Text_4                    53384 non-null object
dtypes: object(14)
memory usage: 45.8+ MB

Before removing symbols, let's take a peek on some values and so we can detect the diferrences later

In [20]:
some_functions = training['Function_Description'].value_counts(normalize=True) > 0.05
some_functions.head(6)

non-project                        True
instruction                        True
unalloc budgets/schools            True
basic (fefp k-12)                 False
employee retirement               False
ela e-teaching sheltered eng      False
Name: Function_Description, dtype: bool

In [21]:
# Remove symbols
'''for category in categoric:
    training[category] = training[category].str.replace(r"[&/\)('\"-.,]","")'''
vec = HashingVectorizer(token_pattern="[A-Za-z0-9]+(?=\\s+)", ngram_range=(1,2))

In [22]:
training['Function_Description'].value_counts(normalize=True).head(6)

non-project                       0.191686
instruction                       0.128882
unalloc budgets/schools           0.055458
basic (fefp k-12)                 0.044473
employee retirement               0.043723
ela e-teaching sheltered eng      0.021093
Name: Function_Description, dtype: float64

In [23]:
training[categoric] = training[categoric].fillna("")

In [24]:
training['Function_Description'].isnull().sum()

0

In [29]:
# Join all text items in a row that have a space in between
text_data = training[categoric].apply(lambda x: " ".join(x), axis = 1)

In [31]:
text_data

134338      general fund teacher-elementary    kindergar...
206341     rgn  gob  (blank)  contractor services undesi...
326408      general purpose school tcher 2nd grade  pers...
364634     unalloc budgets/schools  teacher, short term ...
47683      non-project  teacher, secondary (high)   teac...
229958
417668      local fund   educational supplies and materi...
126378     non-project  sub manager, food service  distr...
275539     ela s - teaching spanish only  teacher, eleme...
85262      unalloc budgets/schools  teacher,retrd shrt t...
304569
330504     instruction general fund   supplies  primary ...
84272     position control pools  general purpose school...
64760
21870      basic (fefp k-12)              conversion cha...
18698     all campus payroll instruction general operati...
169454     basic (fefp k-12)              general fund  ...
169914     security services general admin lieutenant co...
189701     non-project  (blank)  electricity undesignate...
43727
5614       direction of support services - pupils * spec...
291539     unalloc budgets/schools  teacher, short term ...
307038     disadvantaged youth * title i - disadvantaged...
27645      guidance services              conversion cha...
126388      general purpose school   personal services -...
14962       school federal projects tcher english (secon...
84040
61639      core matters  teacher, short term sub   emplo...
266302     ela e-teaching sheltered eng  teacher, elemen...
225768    transportation department transportation gener...
                                ...
333748     psychological services * general psychologist...
292626    new construction department administration fac...
343458     unalloc budgets/schools  teacher, super sub d...
128261     special ed. - severe needs  teacher,spec ed c...
186318     ela s - teaching spanish only  teacher, eleme...
210652    teacher supply  school federal projects   pers...
340354     title iii  ela  ela general assignment   empl...
435205     read to achieve round three  teacher, element...
174827     title i  ela general assignment   salaries of...
277504
248062    vocational curriculum development and instruct...
70455      basic (fefp k-12)              conversion cha...
203453     staff services                 extended learn...
58170       school federal projects   personal services ...
72072       general purpose school assistant principal -...
68311      title ii-part a-teacher qualit  teacher, elem...
225892     ela e-teaching sheltered eng  teacher, elemen...
446383
155111    transportation department transportation gener...
278248     instruction general fund   supplies  primary ...
397424     ns  gob  secondary spec ed para   additional/...
375092      general purpose school   personal services -...
220181    child nutrition food services (child nutrition...
307423
46691      title ii-part a-teacher qualit  teacher, elem...
109283     inst staff training svcs       general fund  ...
102430     title ii,d  teacher,retrd shrt term sub   sal...
413949      schoolwide schools school liaison   parent/t...
433672     non-project  library technician ii  ed resour...
415831    instruction and curriculum instruction "title ...
Length: 400277, dtype: object

In [36]:
hec = HashingVectorizer(token_pattern="[A-Za-z0-9]+(?=\\s+)", norm=None, binary=False,
                                                     ngram_range=(1,2))
hashed_text = hec.fit_transform(text_data)

In [35]:
hashed_df = pd.DataFrame(hashed_text.data)
print(hashed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5221742 entries, 0 to 5221741
Data columns (total 1 columns):
0    float64
dtypes: float64(1)
memory usage: 39.8 MB
None

In [37]:
hashed_df

                0
0        0.377964
1        0.755929
2        0.377964
3        0.377964
4        0.182574
5       -0.182574
6       -0.182574
7       -0.365148
8        0.182574
9        0.182574
10       0.182574
11      -0.182574
12      -0.547723
13       0.547723
14       0.182574
15       0.258199
16       0.258199
17      -0.258199
18      -0.258199
19      -0.258199
20       0.258199
21       0.258199
22      -0.258199
23       0.258199
24      -0.258199
25       0.258199
26       0.516398
27       0.417029
28      -0.208514
29       0.208514
...           ...
5221712 -0.179605
5221713 -0.179605
5221714  0.538816
5221715 -0.251976
5221716 -0.251976
5221717  0.251976
5221718 -0.125988
5221719 -0.125988
5221720 -0.251976
5221721  0.251976
5221722 -0.125988
5221723 -0.125988
5221724  0.251976
5221725  0.251976
5221726  0.125988
5221727 -0.503953
5221728 -0.125988
5221729  0.125988
5221730 -0.125988
5221731 -0.125988
5221732  0.125988
5221733  0.125988
5221734  0.125988
5221735 -0.125988
5221736 -0.125988
5221737 -0.125988
5221738  0.125988
5221739 -0.125988
5221740 -0.125988
5221741 -0.125988

[5221742 rows x 1 columns]

## Intro to Neural Network

In [71]:
from sklearn.model_selection import train_test_split
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.optimizers import SGD

In [25]:
numeric_data = training[numeric]

In [9]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [28]:
#Simple imputations
numeric_data[['FTE']] = imp.fit(numeric_data[['FTE']]).transform(numeric_data[['FTE']])

/home/danielmarx/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/danielmarx/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
/home/danielmarx/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_array(key, value)

In [29]:
numeric_data[['Total']] = imp.fit(numeric_data[['Total']]).transform(numeric_data[['Total']])

/home/danielmarx/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/danielmarx/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
/home/danielmarx/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_array(key, value)

In [30]:
numeric_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400277 entries, 134338 to 415831
Data columns (total 2 columns):
FTE      400277 non-null float64
Total    400277 non-null float64
dtypes: float64(2)
memory usage: 19.2 MB

In [32]:
numeric_data.describe()

                 FTE         Total
count  400277.000000  4.002770e+05
mean        0.427436  1.696423e+04
std         0.321745  3.189825e+05
min         0.000000  0.000000e+00
25%         0.427436  1.747800e+02
50%         0.427436  1.046583e+03
75%         0.427436  1.696423e+04
max        46.800000  1.297000e+08

In [33]:
df_dummies = pd.get_dummies(training[labels])

In [34]:
df_dummies.head()

,Function_Aides Compensation,Function_Career & Academic Counseling,Function_Communications,Function_Curriculum Development,Function_Data Processing & Information Services,Function_Development & Fundraising,Function_Enrichment,Function_Extended Time & Tutoring,Function_Facilities & Maintenance,Function_Facilities Planning,...,Student_Type_Special Education,Student_Type_Unspecified,Use_Business Services,Use_ISPD,Use_Instruction,Use_Leadership,Use_NO_LABEL,Use_O&M,Use_Pupil Services & Enrichment,Use_Untracked Budget Set-Aside
134338,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
206341,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
326408,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
364634,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
47683,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [50]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400277 entries, 134338 to 415831
Columns: 104 entries, Function_Aides Compensation to Use_Untracked Budget Set-Aside
dtypes: uint8(104)
memory usage: 52.8 MB

In [43]:
X_train, X_test, y_train, y_test = train_test_split(numeric_data,
                                                    df_dummies,
                                                    test_size=0.2, 
                                                    random_state=42)

In [44]:
X_train

             FTE          Total
444691  0.427436     218.450000
250816  0.427436    3126.332668
393405  0.427436     674.710000
299533  0.427436     286.688429
357445  0.427436     221.843840
67965   0.427436   16964.228336
327481  0.427436     775.291920
81419   0.427436   16964.228336
397760  1.000000   18309.289661
426528  0.427436     525.670000
65311   0.427436    3782.950000
434624  1.000000   54274.300409
77089   0.507000    7137.062000
50530   0.427436      28.940000
407634  1.000000   36071.050000
203082  1.000000   53985.199608
57218   0.000000      38.040000
22690   0.427436      75.700960
420630  0.427436       8.870000
387203  0.427436    4634.460000
229587  0.427436      76.990000
273271  0.427436       8.630000
366189  0.427436      93.300000
347828  0.427436   16964.228336
381948  0.427436    1714.010000
156910  0.004310     110.087938
172542  0.427436    1600.550000
194027  0.427436      15.700000
285169  0.427436    1015.850000
231037  0.427436   16964.228336
...          ...            ...
268353  0.427436     252.170000
166586  0.427436    7901.905040
303288  0.427436   16964.228336
120032  0.427436    5229.730000
280843  0.427436   16964.228336
78197   0.427436     676.980000
168315  0.427436     768.650000
237943  0.427436  293505.370000
54728   0.427436     538.806080
417064  0.427436     169.757920
38306   1.000000   25419.830000
185167  0.427436     244.910000
331144  0.427436       7.630000
257773  0.427436     504.130000
64708   0.427436  103452.880000
222589  0.427436     184.468000
251393  0.427436      60.140000
119697  0.008621     218.925877
166328  0.427436    4847.170000
352362  1.000000   43524.371087
144415  0.427436     165.540000
259970  0.427436   16964.228336
206670  0.004310     128.894985
221805  0.427436     433.498720
337333  0.427436     242.624378
355968  0.427436   30863.030000
63793   0.427436     249.740000
117220  1.000000  104603.717870
62296   0.427436   16964.228336
172004  0.427436   10205.560000

[320221 rows x 2 columns]

In [45]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [46]:
X_train

array([[-4.88841566e-04, -4.97323999e-02],
       [-4.88841566e-04, -4.12037278e-02],
       [-4.88841566e-04, -4.83942125e-02],
       ...,
       [ 1.72325784e+00,  2.56424286e-01],
       [-4.88841566e-04, -6.17882959e-04],
       [-4.88841566e-04, -2.04407137e-02]])

In [ ]:
model = Sequential()
model.add(Dense(32, activation='relu', input_dim=100))
model.add(Dense(10, activation='softmax'))
model.compile(optimizer='rmsprop',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

# Generate dummy data
import numpy as np
data = np.random.random((1000, 100))
labels = np.random.randint(10, size=(1000, 1))

# Convert labels to categorical one-hot encoding
one_hot_labels = keras.utils.to_categorical(labels, num_classes=10)

# Train the model, iterating on the data in batches of 32 samples
model.fit(data, one_hot_labels, epochs=10, batch_size=32)

In [82]:
# fix random seed for reproducibility
#seed = 7
#np.random.seed(seed)

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden, the hidden layer number is (104 + 2)/2
classifier.add(Dense(53, activation = 'relu', input_dim = 2))

# Adding the output layer
classifier.add(Dense(104, activation = 'softmax'))

In [81]:
# Compiling the ANN
classifier.compile(optimizer= "rmsprop",
              loss='categorical_crossentropy',
              metrics=['accuracy'])

# Fitting the ANN to the Training set
#classifier.fit(X_train, y_train, batch_size = 10, epochs = 20)

TypeError: __init__() got an unexpected keyword argument 'read_only_collections'

In [ ]:
#Making predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# We now consider any prediction >0.5 as 1 and <=0.5 as 0
y_pred = np.round_(y_pred,0)