In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import HashingVectorizer
#from sklearn.impute import SimpleImputer
from sklearn.preprocessing import Imputer

In [3]:
#Read the data using the Unnamed (probably id) as index
url = 'https://s3.amazonaws.com/drivendata/data/4/public/81e8f2de-9915-4934-b9ae-9705685c9d50.csv'
training = pd.read_csv(url, index_col='Unnamed: 0')

labels = ['Function', 'Object_Type', 'Operating_Status', 'Position_Type', 'Pre_K', 'Reporting', 
          'Sharing', 'Student_Type', 'Use']

numeric = ['FTE', 'Total']

categoric = [ 'Facility_or_Department', 'Function_Description', 
            'Fund_Description', 'Job_Title_Description', 'Location_Description', 
            'Object_Description', 'Position_Extra', 'Program_Description', 'SubFund_Description', 
            'Sub_Object_Description', 
            'Text_1', 'Text_2', 'Text_3', 'Text_4']

## Data cleaning

### Part 1: numeric data
First of all, the numeric columns `FTE` and `Total` must be cleaned. The outliers will be treated as `NaN` values and imputation will be applied to the missing data.

In [4]:
# Remove inconsistent data
training[training['FTE'] < 0] = np.nan
training[training['Total'] < 0] = np.nan

In [5]:
training['FTE'].describe()

count    125849.000000
mean          0.427436
std           0.573810
min           0.000000
25%           0.001078
50%           0.133337
75%           1.000000
max          46.800000
Name: FTE, dtype: float64

In [6]:
training[training['FTE'] < 0]

Empty DataFrame
Columns: [Function, Use, Sharing, Reporting, Student_Type, Position_Type, Object_Type, Pre_K, Operating_Status, Object_Description, Text_2, SubFund_Description, Job_Title_Description, Text_3, Text_4, Sub_Object_Description, Location_Description, FTE, Function_Description, Facility_or_Department, Position_Extra, Total, Program_Description, Fund_Description, Text_1]
Index: []

[0 rows x 25 columns]

In [7]:
training['Total'].describe()

count    3.518450e+05
mean     1.696423e+04
std      3.402292e+05
min      0.000000e+00
25%      1.384847e+02
50%      6.696800e+02
75%      4.999610e+03
max      1.297000e+08
Name: Total, dtype: float64

### Part 2: Categoric data

The strings must be normalized: symbols removed, all letters to lower case. Then, they can be transformed to numeric data.

In [8]:
for category in categoric:
    training[category] = training[category].str.lower()

In [9]:
#Check if the unique values decrease
training[categoric].nunique(dropna=False)

Facility_or_Department     176
Function_Description       655
Fund_Description           141
Job_Title_Description     3455
Location_Description       352
Object_Description         570
Position_Extra             580
Program_Description        418
SubFund_Description        267
Sub_Object_Description     159
Text_1                    1389
Text_2                     279
Text_3                      35
Text_4                     240
dtype: int64

In [18]:
#Convert columns
training[categoric] = training[categoric].apply(lambda x: x.astype('object'), axis = 0)

In [19]:
training[categoric].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400277 entries, 134338 to 415831
Data columns (total 14 columns):
Facility_or_Department    53186 non-null object
Function_Description      298676 non-null object
Fund_Description          179157 non-null object
Job_Title_Description     272317 non-null object
Location_Description      155504 non-null object
Object_Description        332143 non-null object
Position_Extra            244180 non-null object
Program_Description       280943 non-null object
SubFund_Description       263731 non-null object
Sub_Object_Description    70748 non-null object
Text_1                    251891 non-null object
Text_2                    87431 non-null object
Text_3                    108613 non-null object
Text_4                    53384 non-null object
dtypes: object(14)
memory usage: 45.8+ MB

Before removing symbols, let's take a peek on some values and so we can detect the diferrences later

In [20]:
some_functions = training['Function_Description'].value_counts(normalize=True) > 0.05
some_functions.head(6)

non-project                        True
instruction                        True
unalloc budgets/schools            True
basic (fefp k-12)                 False
employee retirement               False
ela e-teaching sheltered eng      False
Name: Function_Description, dtype: bool

In [21]:
# Remove symbols
'''for category in categoric:
    training[category] = training[category].str.replace(r"[&/\)('\"-.,]","")'''
vec = HashingVectorizer(token_pattern="[A-Za-z0-9]+(?=\\s+)", ngram_range=(1,2))

In [22]:
training['Function_Description'].value_counts(normalize=True).head(6)

non-project                       0.191686
instruction                       0.128882
unalloc budgets/schools           0.055458
basic (fefp k-12)                 0.044473
employee retirement               0.043723
ela e-teaching sheltered eng      0.021093
Name: Function_Description, dtype: float64

In [23]:
training[categoric] = training[categoric].fillna("")

In [24]:
training['Function_Description'].isnull().sum()

0

In [29]:
# Join all text items in a row that have a space in between
text_data = training[categoric].apply(lambda x: " ".join(x), axis = 1)

In [31]:
text_data

134338      general fund teacher-elementary    kindergar...
206341     rgn  gob  (blank)  contractor services undesi...
326408      general purpose school tcher 2nd grade  pers...
364634     unalloc budgets/schools  teacher, short term ...
47683      non-project  teacher, secondary (high)   teac...
229958
417668      local fund   educational supplies and materi...
126378     non-project  sub manager, food service  distr...
275539     ela s - teaching spanish only  teacher, eleme...
85262      unalloc budgets/schools  teacher,retrd shrt t...
304569
330504     instruction general fund   supplies  primary ...
84272     position control pools  general purpose school...
64760
21870      basic (fefp k-12)              conversion cha...
18698     all campus payroll instruction general operati...
169454     basic (fefp k-12)              general fund  ...
169914     security services general admin lieutenant co...
189701     non-project  (blank)  electricity undesignate...
43727
5614       direction of support services - pupils * spec...
291539     unalloc budgets/schools  teacher, short term ...
307038     disadvantaged youth * title i - disadvantaged...
27645      guidance services              conversion cha...
126388      general purpose school   personal services -...
14962       school federal projects tcher english (secon...
84040
61639      core matters  teacher, short term sub   emplo...
266302     ela e-teaching sheltered eng  teacher, elemen...
225768    transportation department transportation gener...
                                ...
333748     psychological services * general psychologist...
292626    new construction department administration fac...
343458     unalloc budgets/schools  teacher, super sub d...
128261     special ed. - severe needs  teacher,spec ed c...
186318     ela s - teaching spanish only  teacher, eleme...
210652    teacher supply  school federal projects   pers...
340354     title iii  ela  ela general assignment   empl...
435205     read to achieve round three  teacher, element...
174827     title i  ela general assignment   salaries of...
277504
248062    vocational curriculum development and instruct...
70455      basic (fefp k-12)              conversion cha...
203453     staff services                 extended learn...
58170       school federal projects   personal services ...
72072       general purpose school assistant principal -...
68311      title ii-part a-teacher qualit  teacher, elem...
225892     ela e-teaching sheltered eng  teacher, elemen...
446383
155111    transportation department transportation gener...
278248     instruction general fund   supplies  primary ...
397424     ns  gob  secondary spec ed para   additional/...
375092      general purpose school   personal services -...
220181    child nutrition food services (child nutrition...
307423
46691      title ii-part a-teacher qualit  teacher, elem...
109283     inst staff training svcs       general fund  ...
102430     title ii,d  teacher,retrd shrt term sub   sal...
413949      schoolwide schools school liaison   parent/t...
433672     non-project  library technician ii  ed resour...
415831    instruction and curriculum instruction "title ...
Length: 400277, dtype: object

In [36]:
hec = HashingVectorizer(token_pattern="[A-Za-z0-9]+(?=\\s+)", norm=None, binary=False,
                                                     ngram_range=(1,2))
hashed_text = hec.fit_transform(text_data)

In [35]:
hashed_df = pd.DataFrame(hashed_text.data)
print(hashed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5221742 entries, 0 to 5221741
Data columns (total 1 columns):
0    float64
dtypes: float64(1)
memory usage: 39.8 MB
None

In [37]:
hashed_df

                0
0        0.377964
1        0.755929
2        0.377964
3        0.377964
4        0.182574
5       -0.182574
6       -0.182574
7       -0.365148
8        0.182574
9        0.182574
10       0.182574
11      -0.182574
12      -0.547723
13       0.547723
14       0.182574
15       0.258199
16       0.258199
17      -0.258199
18      -0.258199
19      -0.258199
20       0.258199
21       0.258199
22      -0.258199
23       0.258199
24      -0.258199
25       0.258199
26       0.516398
27       0.417029
28      -0.208514
29       0.208514
...           ...
5221712 -0.179605
5221713 -0.179605
5221714  0.538816
5221715 -0.251976
5221716 -0.251976
5221717  0.251976
5221718 -0.125988
5221719 -0.125988
5221720 -0.251976
5221721  0.251976
5221722 -0.125988
5221723 -0.125988
5221724  0.251976
5221725  0.251976
5221726  0.125988
5221727 -0.503953
5221728 -0.125988
5221729  0.125988
5221730 -0.125988
5221731 -0.125988
5221732  0.125988
5221733  0.125988
5221734  0.125988
5221735 -0.125988
5221736 -0.125988
5221737 -0.125988
5221738  0.125988
5221739 -0.125988
5221740 -0.125988
5221741 -0.125988

[5221742 rows x 1 columns]